@font-face {
  font-weight: 400;
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf');
}

a {
  text-decoration: none;
}

.registration {
  margin: auto;
  width: 50%;
  max-width: 36rem;
  height: fit-content;
  padding: 1rem;
  border-radius: 1.8rem;
  background: #EAEAEA;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  font-family: Montserrat, sans-serif;
}

.welcome-text {
  color: #1C1C27;
  font-size: 1.25rem;
  font-weight: 600;
}

.input {
  display: block;
  margin: 1.25rem auto;
  width: 80%;
  max-width: 24rem;
  border-radius: 0.94rem;
  background: #D6D6D6;
  font-size: 0.94rem;
}

.submit {
  display: block;
  margin: 0 auto 0.63rem auto;
  width: 50%;
  border-radius: 0.94rem;
  background: #101010;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.switch-message {
  color: #838383;
  font-size: 0.94rem;
}

.switch-button {
  color: #FFA542;
  font-size: 0.94rem;
  font-weight: 600;
  cursor: pointer;
}

.errors {
  font-size: 0.8rem;
}

.errors li {
  font-size: 0.6;
  color: #AA3333;
}